.mt{
    margin-top: 1rem;
  }
  
  
  #password, #username{
    padding: 10px;
    border-radius: 20px;
    padding-right: 9em;
  }
  
  .d-flex .button-pr
  {
    padding: 10px;
    border-radius: 20px;
    padding-right: 9.8em;
    padding-left: 9.8em;
  
  
  
  }
  
  